

.tile {
    max-width:68em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1.618em
}

.tile h2 {
    font-size: 1.1em;
}
.tile p { font-size: 0.9em; }

.community-tile {
    max-width:68em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1.618em    
}

@media screen and (min-width: 30em) and (max-width: 42em) {
    .tile {
        float: left;
        width: 45%;
        margin-right: 5%;
    }
    .community-tile {
        float: left;
        width: 45%;
        margin-right:5%;
        border: solid 1px #999;
    }
}

@media screen and (min-width: 42em) {
    .tile {
        float: left;
        width: 23%;
        margin-right: 2%;
    }
    .community-tile {
        float: left;
        width: 31%;
        margin-right:2%;
        border: solid 1px #ccc;
    }
}

.toc {
    margin-left:-1.618em;
    margin-right:-1.618em;
    font-family:"Helvetica Neue","Segoe UI",Arial,sans-serif
}
@media screen and (min-width: 56.25em) {
    .toc {
        margin-left:0;
        margin-right:0
    }
}
.toc ul {
    margin-top:1.618em;
    margin-bottom:1.618em;
    border:1px solid #ddd;
    list-style-type: none;
    padding-left: 0;
}
@media screen and (min-width: 56.25em) {
    .toc ul {
        border-radius:3px;
    }
}
.toc li {
    font-size:14px;
    font-size:.875rem;
    line-height:1.1428571429;
    margin-bottom:0;
    border-bottom:1px solid #ddd
}
@media screen and (min-width: 37.5em) {
    .toc li {
        font-size:16px;
        font-size:1rem;
        line-height:1.125;
        margin-bottom:0
    }
}
.toc li>a {
    display:block;
    padding:7px 1.618rem;
    color:#313130;
    border-left:2px solid transparent
}
.toc li>a:hover,.toc li>a:focus {
    background:#dfdfdf
}
.toc h6 {
    margin:0;
    padding:7px 1.618rem;
    background:#e1e1e1
}
.toc h6:hover {
    background:#dfdfdf
}
.toc h6 a {
    color:#313130
}
.toc-left {
    float:left;
    display:block;
    margin-right:2.3576515979%;
    width:100%;
    margin-left:0
}
.toc-left:last-child {
    margin-right:0
}
@media screen and (min-width: 56.25em) {
    .toc-left {
        float:left;
        display:block;
        margin-right:2.3576515979%;
        width:31.7615656014%
    }
    .toc-left:last-child {
        margin-right:0
    }
}
.toc-left ul {
    margin-top:0
}
@media screen and (min-width: 37.5em) {
    .toc-left ul {
        margin-bottom:.809em
    }
}