---
layout: default
---
<div>
  {{ content }}
  
  <h3>Latest News</h3>
  <ul class="home-post-list">
    {% for post in site.posts limit:5 %}
      <li>
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <a class="home-post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        <span class="home-post-meta">{{ post.date | date: date_format }}</span>
      </li>
    {% endfor %}
    <li>
      <a class="home-post-link" href="{{ "/news.html" | relative_url }}">More News...</a>
    </li>
  </ul>
  
  <br/>

  <h3>User Showreel</h3>
  <div>
    <iframe class="showreel" src="https://www.youtube.com/embed/ma52j9B1kEM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div>
</div>
